.menu-list a {
    display: block;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
}

a:hover {
    background-color: #ff3860 !important;
}

.menu-list a.active {
    background-color: #ff3860 !important;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

